/* COLORS */
$brown: #442418;
$green: #B8D600;
$pink: #FF8E9E;
$primary-color: $brown;
$secondary-color: $green;
$tertiary-color: $pink;

/* BREAKPOINTS  */
$mq--tablet: 600px;
$mq--desktop: 1024px;

/* GUTTERS */
$gutter--mobile: .6rem;
$gutter--tablet: 1rem;