.landing-page {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.landing-page__left {
    
}   

.landing-page__right {

} 

.landing-page__header-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.landing-page__header-row--top {
    font-size: 2em;
}

.landing-page__header-row--bottom {
    font-size: 5em;
}

.landing-page__header {

}

.landing-page__header span {
    color: var(--green);
}

.landing-page__text {

}

.landing-page__button {

}

.landing-page__cow {

}

.landing-page__grass {

}

