@font-face {
  font-family: VAG Rundschrift D;
  src: 'https://use.typekit.net/xha5plg.css';
}

:root {
  --brown: #442418;
  --green: #B8D600;
  --pink: #FF8E9E;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  font-family: VAG Rundschrift D;
  color: var(--brown);
}

<<<<<<< HEAD
=======
h1, h2, h3, p, a, input {
  
}

>>>>>>> c11ced9a2ec750fc773c5b67ab5d91ea94c73b38
button {
  outline: none;
  background: none;
}
<<<<<<< HEAD

=======
>>>>>>> c11ced9a2ec750fc773c5b67ab5d91ea94c73b38
